.header {
  .main-logo {
    object-fit: contain;
    width: auto;
    height: 80px;
  }
  .navbar {
    &-nav {
      padding: 0;
      gap: 10px;
    }
    .nav-link {
      color: $black;
      font-size: 15px;
      font-weight: 500;
      &:hover {
        color: $primary;
      }
    }
  }
}
.top-header {
  .container {
    justify-content: space-between;
    gap: 20px;
    display: flex;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    li a {
      color: $white;
      display: flex;
      gap: 7px;
      align-items: center;
      font-size: 14px;
    }
  }
}

.home-top {
  background-image: url("../images/buses/1.jpg");
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0px 0px 20px 2000px #0000007f;
  padding: 2pc;
  color: $white;
  height: 70vh;
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  .main-logo {
    height: 150px;
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .btn {
      transition: all 0.5s linear;
      &:hover {
        transform: scale(1.1);
        transition: all 0.5s linear;
      }
    }
  }
}

.page-banner {
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0px 0px 20px 2000px #00000093;
  padding: 2pc;
  color: $white;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
    font-size: 55px;
  }
  ul {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }
  a:hover {
    color: $primary;
    transition: all 0.5s ease-in-out;
  }
  li,
  a,
  h1 {
    color: #fff;
  }
}

.safety-features {
  ul.tabs {
    display: flex;
    align-items: center;
    gap: 20px;
    li {
      cursor: pointer;
      background: lightgray;
      padding: 10px 1pc;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 17px;
      &.active {
        background: $primary;
        transition: all 0.5s ease-in-out;
        color: #fff;
      }
    }
  }
}

.safety-alarm {
  h2.title {
    font-weight: 600;
  }
  .img img {
    height: 300px;
  }
  .form {
    background-color: #00000010;
    padding: 1pc;
    label {
      font-weight: 500;
    }
  }
}

.three-box .box {
  border-left: 1px solid #c3c3c3;
  padding: 0 2pc;
  height: 100%;
  p {
    font-size: 15px;
  }
}

ul.location-box {
  box-shadow: 0px 0px 10px 0px #00000030;
  border-radius: 20px;
  position: absolute;
  background: #fff;
  z-index: 9999;
  width: 100%;
  left: 0;
  margin-top: 1pc;
  max-height: 200px;
  overflow: hidden scroll;
  li.box-inner {
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #00000020;
  }
  h6 {
    font-size: 15px;
    line-height: normal;
  }

  p {
    line-height: normal;
    font-size: 12px;
    text-align: left;
  }
}

.bus-gif {
  position: absolute;
  background-image: url("../images/bus.gif");
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0;
  width: 120px;
  left: 0;
  height: 120px;
  filter: hue-rotate(69deg);
  transform: scaleX(-1);
}

.all-bus-location {
  height: 500px;
  overflow: hidden;
  iframe {
    position: relative;
    top: -3.8pc;
  }
}

.track_bus {
  .map {
    height: 500px;
    overflow: hidden;
    margin: 1pc;
  }
  iframe {
    position: relative;
    top: -3.8pc;
  }
}

.home-book {
  position: relative;
  .book-overlay {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/design_1.png");
    background-attachment: fixed;
    opacity: 0.3;
    z-index: 0;
    pointer-events: none;
  }
  .get-booking-detail {
    display: flex;
    justify-content: space-between;
    gap: 1pc;
    margin-bottom: 10px;
  }
  label {
    margin: 0;
  }
  .box {
    flex: 1;
    position: relative;
  }
}

.home-track {
  .right {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-content: flex-end;
    height: 100%;
    align-items: flex-end;
    img {
      height: 100%;
      width: 50%;
      object-fit: cover;
      &:last-child {
        height: 90%;
      }
    }
  }
  .form {
    display: flex;
    gap: 10px;
    &-control {
      border: 0;
      border-bottom: 1px solid #ced4daa3 !important;
    }
  }

  button.btn {
    --bs-btn-padding-x: 2.5pc;
    --bs-btn-padding-y: 11px;
    font-size: 17px !important;
  }
}

.home-service {
  .box {
    padding: 1pc;
    // box-shadow: 0 0 15px 0 #00000010;
    p {
      font-size: 15px;
    }
    img {
      height: 250px;
    }
  }
}

.best-destination {
  img {
    height: 225px;
    margin-bottom: 10px;
  }
  a.content {
    h6 {
      color: #000;
    }
    p {
      color: #000;
      font-style: italic;
      background-color: $primary;
      width: max-content;
      padding: 5px 10px;
      font-size: 14px;
      line-height: normal;
      border-radius: 5px;
      font-weight: 600;
    }
  }
}

.bus-info {
  box-shadow: 0 0 15px 0 #00000020;
  padding: 10px; transition: all .5s linear;
  &:hover{
    transform: scale(0.97);
    transition: all .5s linear;
  }
  img {
    height: 225px;
    margin-bottom: 10px;
  }
  .num {
    color: #000;
    font-style: italic;
    background-color: $secondary;
    width: max-content;
    padding: 5px 1pc;
    font-size: 14px;
    line-height: normal;
    border-radius: 5px;
    font-weight: 600;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  a.content {
    h6 {
      color: #000;
      text-transform: capitalize;
    }
    ul{
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
    li {
      color: #000;
      font-style: italic;
      background-color: lightgray;
      width: max-content;
      padding: 5px 10px;
      font-size: 12px;
      line-height: normal;
      border-radius: 5px;
      font-weight: 600;
    }
  }
}

.home-testimonial {
  background: #fff;
  padding: 2pc;
  box-shadow: 0 0 15px 0 #00000020;
  margin: 10px;

  h6 {
    font-size: 22px;
    margin: 0;
  }

  p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    padding-bottom: 1pc;
    border-bottom: 2px solid #f8c02a;
  }

  date {
    font-size: 13px;
    color: gray;
  }
  city {
    color: gray;
  }
}

.google-download {
  background-image: url("../images/downloadBg.jpg");
  background-size: cover;
  border-radius: 20px;
  padding: 2pc;
}

.login {
  margin: 5pc 0;

  .form-control {
    border-width: 1px !important;
    line-height: 33px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  label {
    font-size: 14px;
    font-weight: 500;
  }

  .form {
    .btn {
      &.text-muted {
        font-size: 15px;
        border: 0;
      }

      &.btn-primary {
        line-height: 33px;
        border-radius: 4px;
      }
    }
  }
}

.bus-detail {
  .box {
    display: flex;
    gap: 1pc;
    border: 1px solid #00000020;
    padding: 1pc;
    margin-bottom: 1pc;
    &:not(:last-child) {
      margin-bottom: 1pc;
    }
    & > img {
      object-fit: contain;
      width: auto;
      height: 50px;
      transform: scaleX(-1);
    }
    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1pc;
      margin-bottom: 1pc;
      flex-wrap: wrap;
      h6 {
        font-size: 12px;
        margin-bottom: 3px;
        color: gray;
      }
      p {
        font-weight: 600;
      }
    }
  }
  .outer-box {
    flex: 1;
  }
  .btns {
    display: flex;
    align-items: center;
    column-gap: 1pc;
    row-gap: 10px;
    flex-wrap: wrap;
  }
}

.bus-view-detail {
  overflow: hidden;

  .gif {
    img {
      height: 8pc;
      width: auto;
      object-fit: contain;
      margin: 2pc 0;
      transform: scaleX(-1);
    }
  }

  ul.box-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    z-index: 4;
    border: 1px solid #00000020;
    li {
      border: 1px solid #00000020;
      border-width: 0px 1px 1px 0px !important;
      padding: 1pc;
      min-width: 200px;
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    h6 {
      font-size: 12px;
    }

    p {
      font-weight: 600;
      line-height: normal;
    }
  }
}

.dashboard {
  .left {
    border-radius: 5px;
  }
  ul.tabs {
    background: #504848;
    color: #fff;
    border-radius: 5px;
    li {
      padding: 10px 1pc;
      cursor: pointer;
      &:not(:last-child) {
        border-bottom: 1px solid #fff;
      }
      &.active {
        background: #fcd469;
        color: #000;
        font-weight: 600;
      }
    }
  }
}

.footer {
  background-color: #0c1315;
  &-about {
    p {
      color: #ffffff50;
    }
  }
  &-nav {
    a {
      color: #fff;
      font-size: 14px;
      margin-bottom: 5px;
      &:hover {
        color: $primary;
        transition: all 0.5s ease-in-out;
      }
    }
    .all-bus-location {
      height: 200px;
      margin-bottom: -4pc;
    }
    li:last-child {
      a {
        margin-bottom: 0;
      }
    }
  }
  .copyright {
    border-top: 1px solid #2d363e;
    padding: 2pc 0;
    p {
      margin-bottom: 0;
      color: #fff;
    }
  }
}
